<%= form_with model: @post, id: 'new_post', local: true do |f| %>
<%= render 'shared/error_messages', model: f.object %>
  <div class="message-field">
    <%= f.text_field :text, placeholder: 'type a message' %>
  </div>
  <div class="image-field">
    <div id="previews"></div>
    <div class="click-upload">
      <%# <%= f.file_field :image %> 
      <%= f.file_field :images, name: 'post[images][]', data: {index: 0} %>
                                                        <%# data: {index: 0}=後ほど画像の削除等を行う際に、
                                                            何番目の画像が操作されたのかを判断するために使用 %>
    </div>
  </div>
  <div class="submit-btn">
    <%= f.submit '送信' %>
  </div>
<% end %>
